img[src$="Material"] {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[src$="map"] {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}